---
import { SITE_TITLE } from "@/app.config.mjs";

const year = new Date().getFullYear();
---

<footer class="footer footer-center p-4 bg-gray-900 text-base-content">
  <div>
    <p>{SITE_TITLE} © {year}</p>
  </div>
</footer>
